body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Bold 스타일 */
    letter-spacing: 0px;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    padding: 0 20px;
    background-color: #FFFF; 
    border-bottom: 1.5px solid #DEDEDE; /* 구분선 추가 */
}

#logo {
    width: 167px;
    height: auto; /* 로고 이미지의 높이를 header와 동일하게 설정 */
    position: relative;
    left: 15px;
    top: 13px;

}

nav a {
    position: relative;
    top: 13px;
    left: -120px;
    font-size: 24px;
    letter-spacing: -2px;
    text-decoration: none;
    color: black;
    margin: 0 26px;
}
nav a img {
    position: relative;
    top: 8px;
    left: 0px;
    margin: 0 0px;
}
nav img {
    position: relative;
    top: 20px;
    left: -135px;
    margin: 0 10px;
}

nav a:hover {
    color: #555; /* 링크에 마우스를 올렸을 때 색상 변화 */
}

.select
{
    color: #5814C5;
    position: relative; /* 가상 요소의 위치 기준점 */
    padding-bottom: 14px; /* 글자와 밑줄 사이의 간격 조정 */
}

.select::after {
    content: ''; /* 가상 요소의 내용 */
    position: absolute; /* 부모 요소인 .docent에 대해 절대 위치 */
    
}

.first{
    margin: 57px 600px 15px 600px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.second{
    margin: 80px 163px 5px 163px;
    align-items: center;
    justify-content: center;

}

.third{
    display: flex;
    margin: 80px 163px 30px 163px;
    align-items: center;
    justify-content: center;
    gap: 200px
}

.size{
    width: 600px;
    height: auto;
}

.size2{
    width: 1000px;
    height: auto;
}

.size3{
    width: 600px;
    height: auto;
}

